<header name="navbar-header" class="navbar-header fixed-top">
    <div class="branding docs-branding px-3">
        <div class="docs-logo-wrapper">
            {% if page.url contains "/docs" %}
            <button id="docs-sidebar-toggler" class="docs-sidebar-toggler docs-sidebar-visible me-2 d-xl-none"
                type="button">
                <span></span>
                <span></span>
                <span></span>
            </button>
            {% endif %}
            <div class="site-logo"><a class="navbar-brand" href="{{ site.url }}">
                    <img class="logo-icon me-2" src="/assets/images/navbar-logo.svg" alt="logo">
                    <span class="logo-text">Rish</span></a>
            </div>
        </div><!--//docs-logo-wrapper-->
        <div class="docs-top-utilities d-flex flex-grow-1 justify-content-end align-items-center">
            <ul class="social-list list-inline mx-md-3 mx-lg-5 mb-0 d-none d-lg-flex">
                <li class="list-inline-item"><a href="{{ site.github_url }}"><i class="fab fa-github fa-fw"></i></a></li>
                <li class="list-inline-item"><a href="{{ site.x_url }}"><i class="fab fa-x-twitter fa-fw"></i></a></li>
                <li class="list-inline-item"><a href="{{ site.discord_url }}"><i class="fab fa-discord fa-fw"></i></a></li>
            </ul><!--//social-list-->
            {% unless page.url contains "/docs" %}
            <a href="{{ "/docs/rish/" | append: site.rish-versions[0] | append: "/quick-start" }}"
                class="btn btn-light d-none d-lg-flex">Learn</a>
            {% endunless %}
        </div><!--//docs-top-utilities-->
    </div><!--//branding-->
</header><!--//header-->